.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
out/**
src/**
test/**
docs/**
scripts/**
node_modules/**
assets/icon.svg
assets/hero.svg
assets/icon-256.png
**/*.ts
**/*.map
.gitignore
.mocharc.json
.eslintcache
eslint.config.mjs
esbuild.mjs
tsconfig*.json
CONTRIBUTING.md
PUBLISHING.md
**/.DS_Store
